StudentEnrollment.Store/obj/Debug/netcoreapp5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
StudentEnrollment.Store/obj/Debug/netcoreapp5.0/StudentEnrollment.Store.AssemblyInfo.cs
StudentEnrollment.Store/obj/Debug/netcoreapp5.0/StudentEnrollment.Store.AssemblyInfoInputs.cache
StudentEnrollment.Store/obj/Debug/netcoreapp5.0/StudentEnrollment.Store.GeneratedMSBuildEditorConfig.editorconfig
